*.vsidx
Project/RoomRentalProject/.vs
Project/RoomRentalProject/Background_WorkerService/bin
Project/RoomRentalProject/Background_WorkerService/Logs/SendEmailWorker
Project/RoomRentalProject/DAL/bin
Project/RoomRentalProject/DAL/obj
Project/RoomRentalProject/DBL/bin
Project/RoomRentalProject/RoomRentalProject/bin
Project/RoomRentalProject/RoomRentalProject/obj
Project/RoomRentalProject/Utils/bin
Project/RoomRentalProject/Utils/obj
Project/RoomRentalProject/RoomRentalProject/Properties/PublishProfiles
Project/RoomRentalProject/RoomRentalProject/Logs
Project/RoomRentalProject/Background_WorkerService/obj
Project/RoomRentalProject/DBL/obj
