*.vsidx
Project/E-commerce/E-commerce/bin
Project/E-commerce/E-commerce/obj
Project/E-commerce/Utils/bin
Project/E-commerce/.vs
Project/E-commerce/DBL/bin
Project/E-commerce/DBL/obj
Project/E-commerce/E-commerce/bin
Project/E-commerce/Utils/bin
Project/E-commerce/Utils/obj/Debug
Project/E-commerce/Utils/obj
Project/E-commerce/E-commerce/obj
Project/E-commerce/DAL/bin
Project/E-commerce/DAL/obj
Project/E-commerce/DBL/obj
Project/E-commerce/E-commerce/Logs
Project/E-commerce/Background_WorkerService/logs
Project/E-commerce/Background_WorkerService/obj
Project/E-commerce/Background_WorkerService/bin
Project/E-commerce/E-commerce/Properties/PublishProfiles
Project/E-commerce/E-commerce/Properties/PublishProfiles
Project/E-commerce/E-commerce/E-commerce.csproj.user
Project/E-commerce/E-commerce/Properties/PublishProfiles/FolderProfile.pubxml
Project/E-commerce/E-commerce/Properties/PublishProfiles/FolderProfile.pubxml.user
Project/E-commerce/E-commerce/Properties/PublishProfiles
Project/E-commerce/E-commerce/E-commerce.csproj.user
Project/E-commerce/E-commerce/Properties/PublishProfiles
Project/E-commerce/E-commerce/E-commerce.csproj.user
Project/RoomRentalProject/Utils/obj
Project/RoomRentalProject/Utils/bin
Project/RoomRentalProject/RoomRentalProject/bin
Project/RoomRentalProject/RoomRentalProject/obj/Debug/net8.0
Project/RoomRentalProject/RoomRentalProject/obj
Project/RoomRentalProject/DBL/obj
Project/RoomRentalProject/DBL/bin
Project/RoomRentalProject/DAL/bin
Project/RoomRentalProject/DAL/obj
Project/RoomRentalProject/Background_WorkerService/obj
Project/RoomRentalProject/RoomRentalProject/bin
Project/RoomRentalProject/RoomRentalProject/obj
Project/RoomRentalProject/Utils/obj
Project/RoomRentalProject/Utils/bin
Project/RoomRentalProject/DBL/bin
Project/RoomRentalProject/DBL/obj
Project/RoomRentalProject/DAL/bin
Project/RoomRentalProject/DAL/obj
Project/RoomRentalProject/Background_WorkerService/obj
Project/RoomRentalProject/.vs
Project/RoomRentalProject/Utils/bin
Project/RoomRentalProject/Utils/bin
Project/RoomRentalProject/Utils/obj
Project/RoomRentalProject/RoomRentalProject/bin
Project/RoomRentalProject/RoomRentalProject/obj
Project/RoomRentalProject/DBL/bin
Project/RoomRentalProject/DBL/obj
Project/RoomRentalProject/DAL/bin
Project/RoomRentalProject/DAL/obj
Project/RoomRentalProject/Background_WorkerService/obj
Project/RoomRentalProject/.vs
Project/RoomRentalProject/RoomRentalProject/Logs
Project/RoomRentalProject/Background_WorkerService/Logs
Project/RoomRentalProject/Background_WorkerService/bin/Debug
Project/RoomRentalProject
Project/React_RoomRentalProject/vite.config.js.timestamp-1737117203988-2a32885bc5032.mjs
