.table-container {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.scrollable-table-wrapper {
  overflow-x: auto; /* Enable horizontal scrolling for the table */
}

.my-table {
  width: 100%; /* Adjusted to fill the container width */
  border-collapse: collapse;
  margin-bottom: 20px;
}

.my-table th, .my-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.my-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table-header {
  background-color: #f8f8f8;
}

.table-row:nth-child(even) {
  background-color: #f9f9f9;
}

/* Pagination controls */
.pagination-controls {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for small screens */
  align-items: center;
  padding: 10px 0;
}

.rows-info {
  font-size: 14px;
  color: #555;
  margin-right: 10px;
}

.pagination-button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}



.page-size-selector {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination-controls .pagination-button {
  margin: 0 5px;
}

.pagination-controls .page-size-selector {
  margin-left: 10px;
}

.pagination-controls .pagination-buttons {
  margin-left: auto; /* Pushes the buttons to the right */
}

@media (max-width: 768px) {
  .pagination-controls {
    width: 100%;
  }


  .rows-info {
    margin: 0;
    font-size: 12px;
    text-align: center;
  }

  .page-size-selector {
    font-size: 12px;
    margin-top: 10px; /* Add spacing between controls */
    width: 100%;
  }

  .pagination-buttons {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
    margin-top: 10px; /* Add spacing between controls */
  }

  .pagination-button {
    font-size: 14px;
    margin: 5px 0; /* Add vertical spacing */
  }

  .table-container {
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto; /* Enable horizontal scrolling */
  }
}
